img {
  width: 200px;
}

li {
  padding: 10px;
  width: 200px;
}

select {
  display: block;
  margin: auto;
}

h1 {
  color: red;
  text-align: center;
  font-size: 40px;
  font-family: 'Architects Daughter', cursive;
  margin-bottom: 10px;
}
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  font-family: 'Architects Daughter', cursive;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
}